body {
    height: 100vh;
}

main {
    height: 100%;
}

.item ul {
    list-style-type: none;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.li-subitem {
    margin-left: 1rem;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

main h1 {
    margin-bottom: 8px;
}

.item-title {
    font-size: 1.6rem;
}

.item-summary {
    font-size: 1rem;
    margin-left: 0.8rem;
    margin-top: 0.6rem;
    color: #868e96;
}