.item ul {
    list-style-type: none;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.li-subitem {
    margin-left: 1rem;
}